@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }


#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm {
  display: none;

  border: 6px solid salmon;
  padding: 2em;
  width: 600px;
  text-align: center;
  background: #000000;
  position: fixed;
  top:50%;
  left:50%;
  z-index:99999;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)

}
.formBtn {
  display: inline-block;

  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
}
